Binaries
ConnectPool.*
Plugins
Release
dist
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Collections
Content/Developers
Content/Maps
Content/Room1
Content/Room2
Content/Room3
Content/Room4
Content/Room5
Content/Room6
Content/TorneyRoom
Plugins
Logo
Audio
Content/Audio_24
Content/Audio_16
__MACOSX
Build
